<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
</head>
<body>
    <h1>Hello everybody! <br>This is simple calculator and you can use it</h1>
    <h3>To use this shit just write in URL: "/calc/x/y/operation". <br> Where x - first number, y - second number, operation - mathematic operation (div, sum, dif, mult)</h3>
</body>
</html>